.Navbar {
  background-color: white;
  border-bottom: 5px solid black;
  background-image: url('../images/house.jpg');
  background-size: cover;
  background-position: center;
}

.Navbar > .logo {
  display: inline-block;
  padding: 5px 50px;
  font-size: 40px;
  color: white;
}

.Navbar > .nav {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.item {
  margin: 0;
  margin: 10px 0px 10px 55px;
  display: inline-block;
  font-size: 15px;
  list-style-type: none;
  color: white;
  text-decoration: none;
}

.item:hover {
  color: pink;
  cursor: pointer;
}

.Navbar > .logo > .header {
  font-size: 42px;
  margin: 30px;
  display: inline;

}
