.Navbar {
  background-color: white;
  border-bottom: 5px solid grey;
}

.Navbar > .logo {
  display: inline-block;
  padding: 10px 20px;
  font-size: 100px;
  color: grey;
}

.Navbar > .nav {
  margin: 0;
  padding: 0;
}

.item {
  margin: 0;
  padding: 0px 20px 20px 50px;
  display: inline-block;
  font-size: 30px;
  list-style-type: none;
  text-decoration: underline dotted pink;
  color: grey;
}

.item:hover {
  color: pink;
  cursor: pointer;
}
